{% load static %}
<div class="container py-4 py-md-5">
    <div class="row g-4">

        <!-- Left side (Iftar Platform)-->
        <div class="col-12 col-md-3 text-center">
            <a class="navbar-brand d-inline-block mb-2" href="{% url 'main:home_view' %}">
                <img src="{% static 'images/iftar_platform.png' %}" alt="Iftar Platform" height="100">
            </a>
            <ul class="list-inline mb-0 small d-flex justify-content-center gap-2">
                <li class="list-inline-item"><a href="#" class="text-decoration-none text-success fs-6 bi bi-facebook" aria-label="Facebook"></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none text-success fs-6 bi bi-linkedin" aria-label="LinkedIn"></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none text-success fs-6 bi bi-youtube" aria-label="YouTube"></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none text-success fs-6 bi bi-instagram" aria-label="Instagram"></a>
                </li>
            </ul>
        </div>

        <!-- Right side (Topics grouped)-->
        <div class="col-12 col-md-9 ms-md-auto">
            <div class="row gx-2 gy-4 justify-content-md-end">
                <div class="col-6 col-md-3">
                    <h6 class="text-uppercase text-secondary small mb-3">Initiatives</h6>
                    <ul class="list-unstyled small mb-0">
                        <li><a href="{% url 'main:home_view' %}" class="text-decoration-none text-dark">Browse Initiatives</a></li>
                        <li><a href="{% url 'main:home_view' %}" class="text-decoration-none text-dark">Create Initiative</a></li>
                        <li><a href="{% url 'main:home_view' %}" class="text-decoration-none text-dark">My Initiatives</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h6 class="text-uppercase text-secondary small mb-3">Support</h6>
                    <ul class="list-unstyled small mb-0">
                        <li><a href="{% url 'main:home_view' %}" class="text-decoration-none text-dark">FAQ</a></li>
                        <li><a href="{% url 'main:contact_view' %}" class="text-decoration-none text-dark">Contact Us</a></li>
                        <li><a href="{% url 'main:home_view' %}" class="text-decoration-none text-dark">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>